.location {
    padding: 2em 1em;
    display: grid;
    place-content: center;
}

.location__container {
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    border: 1px solid #70a925;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 5px 5px 0 0 #70a925;
}

.location__name{
    color: #70a925;
    text-align: center;
}

.location__info {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.location__info {
    color: #999;
    text-align: center;
    font-size: small;
}

.location__span {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: medium;
}